Package: freeswitch-mod-event-redis
Version: 1._VERSION_
Architecture: all
Section: base
Priority: standard
Depends: freeswitch (>= 1.8)
Maintainer: Kinshuk Bairagi <me@kinshuk.in>
Description: Publish FreeSwitch Event to Redis Queue
